## Homework_002. Pandas. Initial functions. Simple filtering

### Table of content
1. [Task 1](#task_1)
2. [Task 2](#task_2)
3. [Task 3](#task_3)
4. [Task 4](#task_4)

### Task 1 <a name = 'task_1'></a>
Read attached dataset using pandas.<br>
Make a primary analisys of data set.<br>
Examine descriptive statistics.<br>
Identify number of null cells.<br>
Make a conclusion.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('kc_house_data.csv')

In [3]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [5]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [6]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

#### Conclusion (task 1)
This table contains data about real estate objects, their prices, configurations, ages and conditions.<br>
Most common data types are int and float.<br>
Only data in column named 'date' has sting type.<br>
There are no cells which value is null, but column named 'long' contains negative figures.<br>

### Task 2 <a name = 'task_2'></a>
Answer following questions.

**2.1 In what range do real estate values change?**

In [7]:
price_min = df['price'].min()
price_max = df['price'].max()
print (f'Prices are laying in range from {price_min} to {price_max}.')

Prices are laying in range from 75000.0 to 7700000.0.

**2.2 What is the average share of the living area of the total area in all houses?**

In [8]:
sqft_living_avg = df['sqft_living'].mean()
sqft_lot_avg = df['sqft_lot'].mean()
proportion_sqft = 100 * sqft_living_avg / sqft_lot_avg

print (f'The average share of living area of the total area is {round(proportion_sqft, 2)}%')

The average share of living area of the total area is 13.77%

**2.3 How many houses with different floors are there in the data?**

In [9]:
df['floors'].value_counts()

1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

**2.4 How good are the conditions of the houses in the data?**

In [10]:
df['condition'].value_counts()

3    14031
4     5679
5     1701
2      172
1       30
Name: condition, dtype: int64

The condition of most houses is estimated at 3.<br>
The condition of more than 30% of houses is rated above average<br>

**2.5 Find the years when the first house and when the last house were built in the data?**

In [11]:
yr_built_oldest = df['yr_built'].min()
yr_built_youngest = df['yr_built'].max()

print (f'First house was built in {yr_built_oldest}, the last one was built in {yr_built_youngest}.')

First house was built in 1900, the last one was built in 2015.

### Task 3 <a name = 'task_3'></a>
Answer following questions.

**3.1 How much do houses with 2 bedrooms cost on average?**

In [13]:
avg_price_2_bdrm = df[df['bedrooms'] == 2]['price'].mean()
print (f'Average cost of houses with two bedrooms is {round(avg_price_2_bdrm, 2)}')

Average cost of houses with two bedrooms is 401372.68

**3.2 What is the average total area of houses that cost more than 600 000?**

In [15]:
avg_ttl_area_600000 = df[df['price'] > 600000]['sqft_lot'].mean()
print (f'Average total area of houses that cost more than 600 000 is {round(avg_ttl_area_600000, 2)}')

Average total area of houses that cost more than 600 000 is 20442.52

**3.3 How many houses have been renovated?**

In [17]:
number_of_renovated = df[df['yr_renovated'] > 0].shape[0]
print (f'There are {number_of_renovated} houses have been renovated.')

There are 914 houses have been renovated.

**3.4 How much does the average cost of houses graded above 10 differ from houses graded less than 4?**

In [19]:
price_grade_ten = df[df['grade'] > 10]['price'].mean()
price_grade_four = df[df['grade'] < 4]['price'].mean()
difference = price_grade_ten - price_grade_four

print (f'The difference between average cost of houses graded more than 10 and average cost of houses graded less than 4 is {round(difference, 2)}')

The difference between average cost of houses graded more than 10 and average cost of houses graded less than 4 is 1488885.12

### Task 4 <a name = 'task_4'></a>
Answer following questions

**4.1 Pick up a house for the customer.<br>
Customer wants a house with a waterfront view and basement. Number of bathrooms should be at least 3.<br>
How many options does he have?**

In [20]:
selection_1 = df[
                (df['waterfront'] == 1) &
                (df['bathrooms'] >= 3) &
                (df['sqft_basement'] > 0)
                ].shape[0]
print (f'Customer has {selection_1} options.')

Customer has 41 options.

**4.2 Pick up a house for the customer.**<br>
**Customer's criteria:**<br>
- beautiful view or waterfront view;
- great condition;
- built later than 1980<br>

**What is the price range for such kind of houses?**

In [21]:
view_waterfront_condition_1980_min = df[
    ((df['view'] == 4 ) | (df['waterfront'] == 1 )) &
    (df['condition'] == 5) &
    (df['yr_built'] >= 1980)
]['price'].min()

view_waterfront_condition_1980_max = df[
    ((df['view'] == 4 ) | (df['waterfront'] == 1 )) &
    (df['condition'] == 5) &
    (df['yr_built'] >= 1980)
]['price'].max()

print (f'Price lays between {view_waterfront_condition_1980_min} and {view_waterfront_condition_1980_max}')

Price lays between 1295000.0 and 3000000.0

**4.3 Pick up the house for the customer.<br>
Criteria:**
- without basement;
- 2 floors;
- price less than 150 000<br>

**What is average rate of condition for such houses?**

In [22]:
avg_cond = df[
                (df['price'] < 150000) &
                (df['floors'] == 2) &
                (df['sqft_basement'] == 0)
             ]['condition'].mean()

print (f'Average condition rate is {round(avg_cond, 2)}')

Average condition rate is 2.83